nav {
  display: flex;
  width: 50%;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.35rem;
}

.nav li {
  cursor: pointer;
}

.nav li:last-child {
  position: relative;
  margin-right: 0;
  color: rgb(85, 26, 139);
}

.nav li:last-child:hover {
  color: rgb(223, 86, 86);
}

.nav li span {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 30px;
  font-size: 0.95rem;
  color: rgb(223, 86, 86);
}
